.bookingtext {
  padding: 90px 0 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.underline {
  text-decoration: underline;
}
.thanks {
  display: flex;
  justify-content: end;
}
@media (max-width: 600px) {
  .bookingtext {
    font-weight: 200;
    font-size: 20px;
    line-height: 25px;
  }
  .thanks {
    justify-content: center;
  }
}
