footer {
  height: 70px;
  background-color: #1b202a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 10px;
  font-weight: 100;
}

@media (max-width: 600px) {
  footer {
    height: 120px;
    flex-direction: column;
    gap: 10px;
  }
}
